.overflow-hidden {
	overflow: hidden;
}

.overflow-auto {
	overflow: auto;
}

.padding-top-0 {
	padding-top: 0px !important;
}

.margin-0 {
  margin: 0px !important;
}

.margin-top-25 {
  margin-top: -25px !important;
}

.margin-top-24 {
  margin-top: -24px !important;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.truncate {
    white-space: nowrap; 
    width: 12em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.position-fixed {
	position: fixed !important;
}

.z-index-0 {
	z-index: 0 !important;
}

.z-index-3 {
	z-index: 3 !important;
}

.z-index-5 {
	z-index: 5 !important;
}

.top-0 {
  top: 0px;
}

.background-white {
	background-color: white;
}

.background-black {
	background-color: black;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.height-10 {
  height: 10px !important;
}

.height-24 {
  height: 24px !important;
}

.border-bottom {
  border-bottom: gray solid 0.1px;
}

.padding-bottom-10px {
  padding-bottom: 10px;
}

.color-white {
  color: white !important;
}

.border-white {
  border-color: white !important;
}

.display-none {
  display: none;
}

.margin-1 {
  margin: 1px;
}

.inbox-box-shadow {
  box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

/* Timeline styles */
.timeline-strip {
  height: 10px;
  position: absolute;
  margin-top: 16px;
}


.selectdemoSelectHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
padding: 0; }
.selectdemoSelectHeader .demo-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
width: auto; }
.selectdemoSelectHeader md-content._md {
max-height: 240px; }



