<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/angular-material.css" />
		<link rel="stylesheet" type="text/css" href="css/custom.css" />

		<link rel="stylesheet" type="text/css" href="fonts/material-icons.css" />
	</head>
	<body ng-app="TravelDeals" ng-controller="DealsController" ng-cloak>
    <md-toolbar class="md-tall">
      <div class="md-toolbar-tools">
        <div>Best deals.</div>
      </div>
      <div class="md-toolbar-tools" layout="row" layout-align="center center">

        <md-input-container >
          <label>From</label>
          <md-select ng-model="sourceStation" 
            data-md-container-class="selectdemoSelectHeader">
            <md-select-header class="demo-select-header">
              <input ng-model="sourceSearch" type="search" 
                placeholder="From" 
                class="demo-header-searchbox md-text">
            </md-select-header>
            <md-option ng-value="station" 
              ng-repeat="station in stations | filter:sourceSearch"
              ng-if="station != destinationStation">
              {{station}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <label>To</label>
          <md-select ng-model="destinationStation"
            data-md-container-class="selectdemoSelectHeader">
            <md-select-header class="demo-select-header">
              <input ng-model="destinationSearch" type="search" 
                placeholder="To"
                class="demo-header-searchbox md-text">
            </md-select-header>
            <md-option ng-value="station" 
              ng-repeat="station in stations | filter:destinationSearch"
              ng-if="station != sourceStation">
              {{station}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-button class="md-accent md-raised"
          ng-disabled="!sourceStation || !destinationStation"
          ng-click="searchDeals()">
          Find deals
        </md-button>
      </div>
    </md-toolbar>

		<md-content style="height: 80%"
			md-colors="::{background: 'default-primary-100-0.50'}">

      <md-tabs md-border-bottom layout-fill class="md-primary md-hue-2">
        <md-tab label="Cheapest">

          <div flex class="background-white padding-20 margin-1 inbox-box-shadow" ng-if="!sourceStation || !destinationStation">
            <h1>Please select From and To.</h1>
          </div>
          <div flex class="background-white padding-20 margin-1 inbox-box-shadow" ng-if="sourceStation && destinationStation && deals.length == 0">
            <h1>No results found.</h1>
          </div>

          <div layout="column" flex class="background-white padding-20 margin-1 inbox-box-shadow" ng-if="deals.length > 0">
            <div layout="row" class="padding-bottom-10px border-bottom">
              <div flex="auto">
                {{source}} to {{destination}}
              </div>
              <div flex="initial">
               <md-icon class="material-icons">access_time</md-icon>{{cheapestDeal.hours}}hr
               <md-icon class="material-icons">euro_symbol</md-icon>{{cheapestDeal.price}}
              </div>
            </div>
            <timeline class="padding-10" flex>
         
              <div flex layout="row" layout-align="space-between center">
                <div class="time-item" layout="column" layout-align="center center">
                  <md-button class="md-primary md-fab md-mini margin-0 z-index-0">
                    <md-icon class="material-icons">{{transportVehicle[cheapestDeal.hops[0].transport]}}</icon>
                  </md-button>
                  <div>
                    {{cheapestDeal.hops[0].departure}}
                  </div>
                  <div class="height-24">
                  </div>
                </div>
                <div class="time-item" layout="column" layout-align="center center" ng-repeat="item in cheapestDeal.hops">
                  <md-button class="md-primary md-fab md-mini margin-0 z-index-0">
                    <md-icon class="material-icons">{{transportVehicle[item.transport]}}</icon>
                  </md-button>
                  <div>
                    {{item.arrival}}
                  </div>
                  <div>
                    <md-icon class="material-icons">euro_symbol</md-icon>{{item.cost - item.discount}}
                  </div>
                </div>
              </div>
         
            </timeline>
          </div>
        </md-tab>
        <md-tab label="Fastest">
          <div flex class="background-white padding-20 margin-1 inbox-box-shadow" ng-if="!sourceStation || !destinationStation">
            <h1>Please select From and To.</h1>
          </div>
          <div flex class="background-white padding-20 margin-1 inbox-box-shadow" ng-if="sourceStation && destinationStation && deals.length == 0">
            <h1>No results found.</h1>
          </div>

          <div layout="column" flex class="background-white padding-20 margin-1 inbox-box-shadow" ng-if="deals.length > 0">
            <div layout="row" class="padding-bottom-10px border-bottom">
              <div flex="auto">
                {{source}} to {{destination}}
              </div>
              <div flex="initial">
               <md-icon class="material-icons">access_time</md-icon>{{fastestDeal.hours}}hr
               <md-icon class="material-icons">euro_symbol</md-icon>{{fastestDeal.price}}
              </div>
            </div>
            <timeline class="padding-10" flex>
         
              <div flex layout="row" layout-align="space-between center">
                <div class="time-item" layout="column" layout-align="center center">
                  <md-button class="md-primary md-fab md-mini margin-0 z-index-0">
                    <md-icon class="material-icons">{{transportVehicle[fastestDeal.hops[0].transport]}}</icon>
                  </md-button>
                  <div>
                    {{fastestDeal.hops[0].departure}}
                  </div>
                  <div class="height-24">
                  </div>
                </div>
                <div class="time-item" layout="column" layout-align="center center" ng-repeat="item in fastestDeal.hops">
                  <md-button class="md-primary md-fab md-mini margin-0 z-index-0">
                    <md-icon class="material-icons">{{transportVehicle[item.transport]}}</icon>
                  </md-button>
                  <div>
                    {{item.arrival}}
                  </div>
                  <div>
                    <md-icon class="material-icons">euro_symbol</md-icon>{{item.cost - item.discount}}
                  </div>
                </div>
              </div>
         
            </timeline>
          </div>
        </md-tab>
        <md-tab label="All results {{getLengthInfo()}}">
          <div flex class="background-white padding-20 margin-1 inbox-box-shadow" ng-if="!sourceStation || !destinationStation">
            <h1>Please select From and To.</h1>
          </div>
          <div flex class="background-white padding-20 margin-1 inbox-box-shadow" ng-if="sourceStation && destinationStation && deals.length == 0">
            <h1>No results found.</h1>
          </div>

          <div layout="column" ng-repeat="item in deals" flex class="background-white padding-20 margin-1 inbox-box-shadow">
            <div layout="row" class="padding-bottom-10px border-bottom">
              <div flex="auto">
                {{source}} to {{destination}}
              </div>
              <div flex="initial">
               <md-icon class="material-icons">access_time</md-icon>{{item.hours}}hr
               <md-icon class="material-icons">euro_symbol</md-icon>{{item.price}}
              </div>
            </div>
            <timeline class="padding-10" flex>
         
              <div flex layout="row" layout-align="space-between center">
                <div class="time-item" layout="column" layout-align="center center">
                  <md-button class="md-primary md-fab md-mini margin-0 z-index-0">
                    <md-icon class="material-icons">{{transportVehicle[item.hops[0].transport]}}</icon>
                  </md-button>
                  <div>
                    {{item.hops[0].departure}}
                  </div>
                  <div class="height-24">
                  </div>
                </div>
                <div class="time-item" layout="column" layout-align="center center" ng-repeat="item in item.hops">
                  <md-button class="md-primary md-fab md-mini margin-0 z-index-0">
                    <md-icon class="material-icons">{{transportVehicle[item.transport]}}</icon>
                  </md-button>
                  <div>
                    {{item.arrival}}
                  </div>
                  <div>
                    <md-icon class="material-icons">euro_symbol</md-icon>{{item.cost - item.discount}}
                  </div>
                </div>
              </div>
         
            </timeline>
          </div>
        </md-tab>
      </md-tabs>

		</md-content>

		<script type="text/javascript" src="js/lib/jquery.js">
		</script>
		<script type="text/javascript" src="js/lib/angular/angular.js">
		</script>
		<script type="text/javascript" src="js/lib/angular-messages/angular-messages.js">
		</script>
		<script type="text/javascript" src="js/lib/angular-aria/angular-aria.js">
		</script>
		<script type="text/javascript" src="js/lib/angular-animate/angular-animate.js">
		</script>
		<script type="text/javascript" src="js/lib/angular-material/angular-material.js">
		</script>
		<script type="text/javascript" src="js/lib/moment.min.js">
		</script>
		<script type="text/javascript" src="js/lib/lodash.min.js">
		</script>

		<script type="text/javascript" src="js/app/app.js">
		</script>
		<script type="text/javascript" src="js/app/directives/timeline.js">
		</script>
		<script type="text/javascript" src="js/app/controllers/DealsController.js">
		</script>
		<script type="text/javascript" src="js/app/services/DealsService.js">
		</script>

	</body>
</html>
