<div ng-if="timelineBar.show" ng-style="{'left': {{timelineBar.left}}, 'width': {{timelineBar.width}}}" 
  class="timeline-strip" md-colors="::{background: 'default-accent'}"></div>
<ng-transclude></ng-transclude>
